.result {
  list-style: none;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
}

.correctResult {
  color: lawngreen;
}

.missResult {
  color: lightcoral;
}

.resultSummap {
    padding: 3rem;
}
