{
  // "presets": [
  //   "@babel/react",
  //   "@babel/typescript",
    // "@babel/preset-typescript"
    // [
    //   "@babel/env",
    //   {
    //     "modules": false,
    //     "targets": {
    //       "chrome": "58",
    //       "ie": "11"
    //     }
    //   }
    // ],
    // ["@babel/preset-env", { "targets": { "node": "current" } }]
  // ]
}
