{
    "extends": [
      "airbnb-typescript",
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": [
      "react-hooks"
    ],
    "rules": {
      "react/react-in-jsx-scope": 0,
      "import/prefer-default-export": 0,
      "react/jsx-props-no-spreading": 0,
      "react/require-default-props": 0,
      "import/no-extraneous-dependencies": 0,
      "jsx-a11y/media-has-caption": 0,
      "react/no-unused-prop-types": 0,
      "@typescript-eslint/naming-convention": 0,
      "@typescript-eslint/no-use-before-define": 0,
      "react/state-in-constructor": 0
    },
    "ignorePatterns": [
      "*.stories.*"
    ]
  }